<div class="span3 repo">
	<h4><a href="{{html_url}}">{{name}}</a></h4>
	<p>
		<i class="icon-eye-open" title="Watchers"></i> {{watchers}} &middot; 
		<i class="icon-share-alt" title="Forks"></i> {{forks}}
	</p>
	<p class="muted repo-text"><small>{{description}}</small></p>
	<hr>
</div>
